@charset "utf-8";
/* CSS Document */

$primary-color: linear-gradient(to right, rgb(23, 179, 226), blueviolet);
$secondary-color: lightgreen;
$h1-radius: 50px 20px;
$sarif: 'EB Garamond', serif;
$sansarif: 'Bebas Neue', cursive;

.col h1, h2, h3, h4, h5, p {
    margin: 16px;
    padding: 8px;
}

.navigation {
    img {
        width: 200px;
        height: auto;
    }
}

.jumbotron {
    margin-top: 16px;
}

.about {
    h1{
        background-image: $primary-color;
        color: $secondary-color;
        border-radius: $h1-radius;
        text-align: center;
        text-decoration: underline;
        font-family: 'Volkhov', serif;
    }
    #para1 {
        margin-bottom: 16px;
    }
    .text {
        background-color: $secondary-color;
        border-radius: 16px;
        padding: 8px;
        h3 {
            font-family: 'Volkhov', serif;
        }
    }
    p {
        text-indent: 12px;
    }
}

.websites {
    h1{
        background-image: $primary-color;
        color: $secondary-color;
        border-radius: $h1-radius;
        text-align: center;
        text-decoration: underline;
        font-family: 'Volkhov', serif;
    }
    .text {
        background-color: $secondary-color;
        border-radius: 16px;
        padding: 8px;
        h3 {
            font-family: 'Volkhov', serif;
        }
    }
    p {
        text-indent: 12px;
    }
    img {
        padding: 8px;
        width: 100%;
        height: auto;
    }
    img:hover  {
        opacity: .5;
    }
}

.photography {
    h1{
        background-image: $primary-color;
        color: $secondary-color;
        border-radius: $h1-radius;
        text-align: center;
        text-decoration: underline;
        font-family: 'Volkhov', serif;
    }
    .text {
        background-color: $secondary-color;
        border-radius: 16px;
        padding: 8px;
        margin-bottom: 16px;
        h3 {
            font-family: 'Volkhov', serif;
        }
    }
    p {
        text-indent: 12px;
    }
}

.contact {
    h1{
        background-image: $primary-color;
        color: $secondary-color;
        border-radius: $h1-radius;
        text-align: center;
        text-decoration: underline;
        font-family: 'Volkhov', serif;
    }
    .mb-4 {
        background-color: $secondary-color;
        padding: 16px;
        border-radius: 16px;
    }
}

.footer {
    p {
        color: white;
    }
    .socialicons {
        h3 {
            color: white;
            text-align: center;
        }
        .imglinks {
            display: flex;
            justify-content: center;
        }
        img {
            width: 50px;
            height: 50px;
            margin: 4px;
        }
    }
    .copyright {
        text-align: center;
    }
}

@media only screen and (max-width: 1000px) {
    h1, h2, h3, h4, h5, p {
        font-size: .9;
    }

    .websites {
        h1{
            background-image: $primary-color;
            color: $secondary-color;
            border-radius: $h1-radius;
            text-align: center;
            text-decoration: underline;
            font-family: 'Volkhov', serif;
        }
        img {
            margin-left: 0px;
            width: 100%;
            height: auto;
        }
    }
}

@media only screen and (max-width: 500px) {
    h1, h2, h3, h4, h5, p {
        font-size: .8;
    }

    .navigation {
        img {
            width: 150px;
            height: auto;
        }
    }
}